﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 150px;
    padding-bottom: 20px;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 150px;
    padding-right: 15px;
  margin-top: 150px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.container body-content {
    padding-top: 150px;
    margin-top: 100px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0px;
    }
}
