﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pagemenu.ascx.cs" Inherits="Final_Project.usercontrol.pagemenu" %>
<asp:SqlDataSource runat="server" ID="page_menu" connectionString="<%$ connectionStrings:final_sql_con %>"></asp:SqlDataSource>
<span><a href ="ListPages">Home</a></span>
<ul runat="server" id="menu_container">
    
</ul>